name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # go-version: ['oldstable', 'stable', '1.23.0-rc.2']
        go-version: ['oldstable', 'stable']
    env:
      VERBOSE: 1

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - name: Build
        run: go build -v .
      - name: Run tests with GITHUB_STEP_SUMMARY
        shell: bash
        # Note the use of  || true. This so the job doesn't fail at that line. We want to preserve -follow
        # as part of the test output, but not output it to the summary page, which is done in the proceeding
        # command when we parse the output.jsonl file.
        run: |
          go test -v -count=1 -race ./... -json -coverpkg github.com/mfridman/tparse/parse \
            | tee output.jsonl | ./tparse -notests -follow -all || true
          ./tparse -format markdown -file output.jsonl -all -slow 20 > $GITHUB_STEP_SUMMARY
      - name: Run tparse w/ std lib
        run: go test -count=1 fmt strings bytes bufio crypto log mime sort slices -json -cover | ./tparse -follow -all
      - name: Install GoReleaser
        if: github.event_name == 'push' && github.ref == 'refs/heads/main' && matrix.go-version == 'stable'
        uses: goreleaser/goreleaser-action@v6
        with:
          install-only: true
          distribution: goreleaser
          version: "~> v2"
      - name: Gorelease dry-run
        if: github.event_name == 'push' && github.ref == 'refs/heads/main' && matrix.go-version == 'stable'
        run: |
          goreleaser release --skip=publish --snapshot --fail-fast --clean
